# Sizzling Citadel

ASide:
  - Room: "Noax_00"
    Core:
      All: Hot
    Holes:
    - Side: Down
      Idx: 0
      Kind: inout
      ReqOut:
        Or:
        - Dashes: zero
          Difficulty: hard
        - Dashes: one
          Difficulty: normal
    # blocked
    - Side: Down
      Idx: 0
      Kind: none
    Tweaks:
    - Name: "CollabUtils2/SpeedBerry"
      Update:
        Remove: true
    - Name: "CollabUtils2/SilverBerry"
      Update:
        Remove: true
      
  - Room: "Noax_01"
    Core:
      All: Hot
    Holes:
    - Side: Up
      Idx: 0
      Kind: inout
      ReqOut:
        Dashes: one
    - Side: Left
      Idx: 0
      Kind: inout
    InternalEdges:
    - To: "exit"
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    Subrooms:
    - Room: "exit"
      Holes:
      - Side: Right
        Idx: 0
        Kind: inout
    Tweaks:
    - Name: "spikesDown"
      ID: 979
      Update:
        Remove: true
      
  - Room: "Noax_02"
    Core:
      All: Hot
    Holes:
    - Side: Left
      Idx: 0
      Kind: inout
    # strange
    - Side: Down
      Idx: 0
      Kind: unknown
      Launch: -1
      ReqIn:
        Dashes: one
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    InternalEdges:
    - To: "exit"
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    - To: "berry"
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    Subrooms:
    - Room: "exit"
      Holes:
      - Side: Up
        Idx: 1
        Kind: inout
    - Room: "berry"
      Holes:
      - Side: Down
        Idx: 1
        Kind: inout
        Launch: -1
      InternalEdges:
      - To: "exit"
        ReqOut:
          Or:
          - Dashes: one
            Difficulty: hard
          - Dashes: two
            Difficulty: normal
    Tweaks:
    - Name: "spawn"
      Update:
        Add: true
        X: 392
        Y: 336
    - Name: "spawn"
      Update:
        Add: true
        X: 528
        Y: 96
      
  - Room: "Noax_03"
    Core:
      All: Hot
    Holes:
    - Side: Down
      Idx: 0
      Kind: inout
      LowBound: 7
      HighBound: 10
      Launch: -1
    - Side: Right
      Idx: 0
      Kind: inout
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    - Side: Down
      Idx: 4
      Kind: none
    - Side: Down
      Idx: 5
      Kind: none
    - Side: Down
      Idx: 6
      Kind: none
    - Side: Down
      Idx: 7
      Kind: none
    InternalEdges:
    - Split: LeftToRight
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    Tweaks:
    - Name: "FrostHelper/IceSpinner"
      X: 56
      Update:
        Remove: true
    - Name: "FrostHelper/IceSpinner"
      X: 88
      Update:
        Remove: true
    - Name: "jumpThru"
      Update:
        X: 72
        Width: 16
    - Name: "spawn"
      X: 72
      Y: 240
      Update:
        X: 80
      
  - Room: "Noax_04"
    Core:
      All: Hot
    Holes:
    - Side: Left
      Idx: 1
      Kind: inout
    - Side: Up
      Idx: 0
      Kind: inout
      LowBound: 32
      HighBound: 34
    # blocked
    - Side: Left
      Idx: 0
      Kind: none
    InternalEdges:
    - Split: BottomToTop
      ReqOut:
        Dashes: one
        Difficulty: hard
    Tweaks:
    - Name: "spawn"
      X: 40
      Y: 1272
      Update:
        Default: true
      
  - Room: "Noax_S01"
    Core:
      All: Hot
    Holes:
    - Side: Right
      Idx: 0
      Kind: inout
    # blocked
    - Side: Left
      Idx: 0
      Kind: none
    InternalEdges:
    - Collectable: 0
      ReqBoth:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
      
  - Room: "Noax_S02"
    Core:
      All: Hot
    Holes:
    - Side: Up
      Idx: 1
      Kind: inout
    InternalEdges:
    - To: "berry"
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    Subrooms:
    - Room: "berry"
      Collectables:
      - Idx: 0
      Holes:
      - Side: Up
        Idx: 0
        Kind: inout