# "Water and Ice"

ASide:
  - Room: "b-1"
    Core:
      All: Hot
    Holes:
    - Side: Left
      Idx: 0
      Kind: inout
    # blocked
    - Side: Left
      Idx: 1
      Kind: none
    - Side: Left
      Idx: 2
      Kind: none
    - Side: Left
      Idx: 3
      Kind: none
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Right
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    InternalEdges:
    - Collectable: 0
      ReqBoth:
        Dashes: one
        Difficulty: hard
    Tweaks:
    - Name: "DJMapHelper/maxDashesTrigger"
      Update:
        Remove: true
 
  - Room: "b-2"
    Core:
      All: Hot
    Holes:
    - Side: Up
      Idx: 0
      Kind: inout
    # blocked
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Right
      Idx: 0
      Kind: none
    - Side: Right
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    - Side: Down
      Idx: 4
      Kind: none
    - Side: Down
      Idx: 5
      Kind: none
    - Side: Down
      Idx: 6
      Kind: none
    InternalEdges:
    - Collectable: 0
      ReqBoth:
        Dashes: one
        Difficulty: hard
    Tweaks:
    - Name: "DJMapHelper/maxDashesTrigger"
      Update:
        Remove: true
      
  - Room: "intro"
    Core:
      All: Cold
      Up: Hot
    Holes:
    - Side: Left
      Idx: 0
      Kind: inout
    - Side: Up
      Idx: 3
      Kind: inout
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Up
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    InternalEdges:
    - Split: LeftToRight
      ReqOut:
        Dashes: one
        Difficulty: hard
    Tweaks:
    - Name: "spawn"
      X: 784
      Y: 0
      Update:
        Remove: true
    - Name: "CollabUtils2/SpeedBerry"
      Update:
        Remove: true
    - Name: "CollabUtils2/SilverBerry"
      Update:
        Remove: true
        
  - Room: "r-1"
    Core:
      All: Hot
    Holes:
    - Side: Down
      Idx: 0
      Kind: in
    - Side: Up
      Idx: 3
      Kind: out
      ReqOut:
        Dashes: one
        Difficulty: hard
    # blocked
    - Side: Left
      Idx: 0
      Kind: none
    - Side: Left
      Idx: 1
      Kind: none
    - Side: Left
      Idx: 2
      Kind: none
    - Side: Left
      Idx: 3
      Kind: none
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Up
      Idx: 2
      Kind: none
    - Side: Right
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    
  - Room: "r-2"
    Core:
      All: Hot
    Holes:
    - Side: Down
      Idx: 0
      Kind: in
    # blocked
    - Side: Right
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    - Side: Down
      Idx: 4
      Kind: none
    InternalEdges:
    - To: "key"
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    - Collectable: 0
      ReqOut:
        Or:
        - Dashes: one
          Difficulty: hard
        - Dashes: two
          Difficulty: normal
    Subrooms:
    - Room: "key"
      Collectables:
      - Idx: 1
      InternalEdges:
      - To: "exit"
        ReqOut:
          Key: true
          KeyholeID: 1888
          Or:
          - Dashes: zero
            Difficulty: perfect # lots of lava neutrals, skip core switch
          - Dashes: one
            Difficulty: hard
          - Dashes: two
            Difficulty: normal
        ReqIn:
          Dashes: zero
          Difficulty: hard
      - Collectable: 2
        ReqBoth:
          Or:
          - Dashes: one
            Difficulty: hard
          - Dashes: two
            Difficulty: normal
    - Room: "exit"
      Holes:
      - Side: Up
        Idx: 0
        Kind: inout
      InternalEdges:
      - To: "berry"
        ReqBoth:
          Key: true
          KeyholeID: 2613
    - Room: "berry"
      Holes:
      - Side: Right
        Idx: 0
        Kind: inout
    Tweaks:
    - Name: "DJMapHelper/maxDashesTrigger"
      Update:
        Remove: true
    - Name: "spawn"
      X: 24
      Y: 608
      Update:
        Default: true
    - Name: "spawn"
      Update:
        Add: true
        X: 856
        Y: 56
    - Name: "spawn"
      Update:
        Add: true
        X: 761
        Y: 40
    - Name: "changeRespawnTrigger"
      X: 704
      Y: 0
      Update:
        X: 720
        Y: 80
        Width: 32
        Height: 32
      
  - Room: "r-3"
    Core:
      All: Hot
    Holes:
    - Side: Down
      Idx: 0
      Kind: in
      Launch: -1
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Up
      Idx: 2
      Kind: none
    - Side: Up
      Idx: 3
      Kind: none
    - Side: Right
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    InternalEdges:
    - To: "berry"
      ReqOut:
        Key: true
        KeyholeID: 1336
        Dashes: two
        Difficulty: hard
    - Collectable: 0
      ReqOut:
        Dashes: two
        Difficulty: hard
    Subrooms:
    - Room: "berry"
      Holes:
      - Side: Down
        Idx: 2
        Kind: inout
        Launch: -1
      InternalEdges:
      - To: "exit"
        ReqOut:
          Dashes: one
          Difficulty: hard 
    - Room: "exit"
      Holes:
      - Side: Right
        Idx: 0
        Kind: inout
    Tweaks:
    - Name: "DJMapHelper/maxDashesTrigger"
      Update:
        Remove: true
    - Name: "changeRespawnTrigger"
      ID: 21
      Update:
        Remove: true
    - Name: "spawn"
      X: 96
      Y: 720
      Update:
        Default: true
    - Name: "spawn"
      Update:
        Add: true
        X: 1328
        Y: 752