# Badeline Block Belt

ASide:
  - Room: "hennyburgr-1"
    Holes:
    - Side: Down
      Idx: 0
      Kind: inout
    - Side: Right
      Idx: 0
      Kind: inout
    # blocked
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    InternalEdges:
    - Split: LeftToRight
      ReqOut:
        Or:
        - Dashes: zero
          Difficulty: perfect
        - Dashes: one
          Difficulty: normal
      ReqIn:
        Dashes: two
        Difficulty: perfect
    Tweaks:
    - Name: "jumpThru"
      ID: 19
      Update:
        X: 48
        Width: 32
      
  - Room: "hennyburgr-2"
    Holes:
    - Side: Left
      Idx: 0
      Kind: in
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    InternalEdges:
    - To: "exits"
      ReqOut:
        Dashes: one
        Difficulty: normal
    Subrooms:
    - Room: "exits"
      Holes:
      - Side: Right
        Idx: 0
        Kind: inout
      - Side: Up
        Idx: 1
        Kind: inout
    Tweaks:
    - Name: "spawn"
      X: 32
      Y: 304
      Update:
        Default: true
     
  - Room: "hennyburgr-3"
    Holes:
    - Side: Left
      Idx: 0
      Kind: inout
    - Side: Up
      Idx: 0
      Kind: inout
    Tweaks:
    - Name: "spawn"
      X: 24
      Y: 448
      Update:
        Default: true
    - Name: "jumpThru"
      ID: 808
      Update:
        X: 152
        Width: 48
    - Name: "jumpThru"
      ID: 817
      Update:
        Width: 32
    - Name: "jumpThru"
      ID: 818
      Update:
        X: 160
        Width: 32
      
  - Room: "hennyburgr-4"
    Holes:
    - Side: Down
      Idx: 0
      Kind: inout
    - Side: Right
      Idx: 0
      Kind: inout
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Up
      Idx: 2
      Kind: none
    - Side: Up
      Idx: 3
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    InternalEdges:
    - Split: LeftToRight
      ReqBoth:
        Dashes: one
        Difficulty: normal
    - Collectable: 0
      ReqBoth:
        Dashes: one
        Difficulty: normal
    Tweaks:
    - Name: "jumpThru"
      ID: 871
      Update:
        X: 48
        Width: 40
      
  - Room: "hennyburgr-5"
    Holes:
    - Side: Left
      Idx: 0
      Kind: in
    # blocked
    - Side: Down
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    - Side: Down
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 3
      Kind: none
    - Side: Down
      Idx: 4
      Kind: none
    - Side: Down
      Idx: 5
      Kind: none
    InternalEdges:
    - To: "exits"
      ReqOut:
        Dashes: one
        Difficulty: normal
    Subrooms:
    - Room: "exits"
      Holes:
      - Side: Right
        Idx: 0
        Kind: inout
        ReqOut:
          Dashes: one
          Difficulty: normal
      - Side: Right
        Idx: 1
        Kind: inout
    Tweaks:
    - Name: "spawn"
      X: 80
      Y: 392
      Update:
        Default: true
    - Name: "jumpThru"
      ID: 1424
      Update:
        X: 1418
        Width: 48
      
  - Room: "hennyburgr-bonus1"
    Holes:
    - Side: Down
      Idx: 0
      Kind: inout
    # blocked
    - Side: Up
      Idx: 0
      Kind: none
    InternalEdges:
    - Collectable: 0
      MustFly: true
      ReqOut:
        Dashes: one
        Difficulty: normal
      
  - Room: "hennyburgr-bonus2"
    Collectables:
    - Idx: 0
    Holes:
    - Side: Left
      Idx: 0
      Kind: inout
    - Side: Up
      Idx: 0
      Kind: inout
    # blocked
    - Side: Up
      Idx: 1
      Kind: none
    - Side: Up
      Idx: 2
      Kind: none
    - Side: Down
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 1
      Kind: none
    Tweaks:
    - Name: "exitBlock"
      Update:
        Remove: true
    - Name: "invisibleBarrier"
      ID: 526
      Update:
        Remove: true
      
  - Room: "hennyburgr-intro"
    Holes:
    - Side: Up
      Idx: 1
      Kind: inout
      ReqOut:
        Dashes: one
        Difficulty: normal
    # blocked
    - Side: Left
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 2
      Kind: none
    - Side: Right
      Idx: 0
      Kind: none
    - Side: Down
      Idx: 0
      Kind: none 
    Tweaks:
    - Name: "CollabUtils2/SpeedBerry"
      Update:
        Remove: true
    - Name: "CollabUtils2/SilverBerry"
      Update:
        Remove: true
        
  # hennyburgr-outro cut, not interesting outro